// Here you can add other styles

.add-entity-button{
  margin-bottom: 10px;
}

.video-thumbnail{
  height: 100%;
  width: 100%;
  border: solid 1px gainsboro;
  margin-right: 10px;
}
.header-dropdown-user-info{
  font-size: 14px;
}

@include media-breakpoint-down(md){
  .header-dropdown-user-info{
    display: none;
  }
}

.available-slots-container{
  margin-bottom: 10px;
}

.filter-search{
  position: relative;
  z-index: 1;
  left: 0.5em !important;
  top: -28px !important;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}

.input-search{
  padding-left: 1.5em;
}

.button-add{
  width: 100% !important;
  margin-bottom: 10px;
}

.col-button{
  width: 5%;
}

.dropdown-add {
  width: 100% !important;
  .btn {
    width: 100% !important;
  }
  padding-bottom: 10px;
}

.search-container{
  padding-bottom: 10px;
}

